@model IEnumerable<FinalHealthTourism.Models.TreatmentRecord>
@{
    ViewBag.Title = "MyTreatmentRecords";
    Layout = "~/Views/Shared/_LogoutLayout.cshtml";
}

<h2>My Treatment Records</h2>


<table id="mytable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Treatment Id</th>
            <th>Diagnosis</th>
            <th>Treatment</th>
            <th>Medicines Prescribed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@Html.ActionLink(@p.P_Id, "UpdateTreatment", "Doctor", new { id = p.P_Id},null)</td>
                <td>@p.DiagnosisDetails</td>
                <td>@p.TreatmentPlanned</td>
                <td>@p.MedicinesPrescribed</td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#mytable").DataTable();

            $("#mytable").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete the record?",
                        function(result) {
                            if (result) {

                                $.ajax({
                                    url: "/Patient/Delete/" + button.attr("data-patient-id"),
                                    method: "POST",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }

                                });
                            }
                        })
                })
        });
    </script>
}

